<header>
  <%= image_tag("http://placekitten.com/400/100", :alt => "Sample App", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", '#' %></li>
      <% if current_user %>
      <li><%= link_to "Logout", logout_path %></li>
      <% else %>
      <li><%= link_to "Sign Up", signup_path %></li>
      <li><%= link_to "Login", login_path %></li>
      <% end %>
    </ul>
  </nav>
</header>