<div class="round">
    <ul>
      <li><%= link_to "Everything", '#' %></li>
	  <li><%= link_to "Products", '#' %></li>
      <li><%= link_to "News", '#' %></li>
      <li><%= link_to "Remedies", '#' %></li>
      <li><%= link_to "Talk/Q&A", '#' %></li>
    </ul>
</div>